/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/users.scss ***!
  \****************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
}

.page-header {
  text-align: center;
}

.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.users-block .user-block {
  padding: 10px;
  margin: 20px;
  min-width: 250px;
  background-color: #ddd;
}
.users-block .user-block .user-header {
  background-color: blue;
  color: white;
  padding: 10px;
}
.users-block .user-block .user-content {
  padding: 10px;
}
